.wrapper {
  margin-top: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  gap: 2rem;
}

.infoImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.infoTitle {
  margin: 0;
  font-weight: 500;
}

.listGroup {
  display: flex;
  flex-direction: column;

  gap: 2rem;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.listItem {
  line-height: 1.8;

  & > b {
    font-weight: var(--fw-bold);
  }
}
