.wrapper {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  gap: 2rem;
}

.infoImage {
  display: block;
  max-width: 500px;
  max-height: 500px;
  object-fit: contain;
}

.infoTitle {
  margin: 0;
}

.listGroup {
  display: flex;
  flex-direction: column;

  gap: 2rem;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.listItem {
  line-height: 1.8;

  & > p {
    font-weight: 400;
  }
}
